.vacancy {
  position: relative;
  padding: 2.25rem 1rem;

  &::before {
    position: absolute;
    top: -6rem;
    right: 0;
    left: 0;
    height: 28.5rem;
    content: '';
    background-color: $bg-c--shade;
  }

  @media (min-width: $screen-sm) {
    padding: 3.75rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;
    padding: 1.5rem 1rem 2.25rem;
    background-color: $bg-c;
    border-radius: $border-r;
    box-shadow: 0 13px 27px -5px rgba(43, 46, 58, 0.1), 0 8px 16px -8px rgba(0, 0, 0, 0.15);

    @media (min-width: $screen-sm) {
      padding: 2.5rem;
    }

    @media (min-width: $screen-md) {
      padding: 3.75rem 4.5rem 4.5rem;
    }
  }

  &__go-back {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0.75rem;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;
    color: currentColor;
    text-decoration: none;
    opacity: 0.5;
    transition: 250ms $transition-t;

    @media (min-width: $screen-xl) {
      margin-bottom: 1.5rem;
    }

    &:hover {
      opacity: 1;
    }

    svg {
      display: block;
      margin-right: 0.75rem;
      transform: translateY(1px);
      stroke: currentColor;
    }

    span {
      display: block;
    }
  }

  &__title {
    max-width: 40ch;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;
  }

  &__salary {
    display: block;
    max-width: 60ch;
    margin-bottom: 3rem;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;
  }

  &__intro {
    position: relative;
    margin-bottom: 1.5rem;
    font-size: 0.8em;
    line-height: 1.45em;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    &::before {
      position: absolute;
      bottom: calc(100% + 1.5rem);
      left: 0;
      width: 2.25rem;
      height: 1px;
      content: '';
      background-color: $primary-c;
    }
  }

  &__intro-group {
    max-width: 70ch;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__intro-term {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 600;

    &::after {
      content: ':';
    }
  }

  &__intro-desc {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 400;

    &::after {
      content: '.';
    }
  }

  &__info {
    position: relative;
    padding-top: 0.75rem;
    margin-top: 2.25rem;

    @media (min-width: $screen-xl) {
      margin-top: 3rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
    }
  }

  &__subtitle {
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;

    @media (min-width: $screen-xl) {
      margin-top: 2.25rem;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: relative;
      max-width: 70ch;
      padding: 0;
      padding-left: 0.9rem;
      margin: 0;
      font-size: 0.8em;
      line-height: 1.45em;

      @media (min-width: $screen-sm) {
        padding-left: 0;
      }

      &::before {
        position: absolute;
        top: 0.45rem;
        left: 0;
        width: 0.3rem;
        height: 0.3rem;
        content: '';
        background-color: currentColor;
        border-radius: 0.4rem;
        opacity: 0.25;

        @media (min-width: $screen-sm) {
          right: calc(100% + 0.75rem);
          left: auto;
        }
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;

        &::after {
          content: ';';
        }
      }

      &:last-child {

        &::after {
          content: '.';
        }
      }
    }
  }
}
