.testimonials {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      padding: 0 2.5rem;
    }

    @media (min-width: $screen-md) {
      padding: 0 4.5rem;
    }
  }

  &__title {
    @include subtitle;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__slider {

    .swiper-slide {
      opacity: 0.125;
      transition: opacity 250ms $transition-t;
    }

    .swiper-slide-active {
      opacity: 1;
    }
  }

  &__slider-progressbar {
    margin-top: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-top: 3rem;
    }
  }
}
