.promo {
  position: relative;
  padding: 1rem 1rem 0;

  @media (min-width: $screen-sm) {
    padding: 1.5rem 1.5rem 0;
  }

  &__container {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    overflow: hidden;
    color: $text-c--light;
    background-color: $bg-c--dark;
    border-radius: $border-r;
  }

  &__content {
    position: relative;
    z-index: 2;
    padding: 6rem 1rem 1rem;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      padding: 4.5rem 2.25rem 3rem;
    }

    @media (min-width: $screen-xl) {
      padding: 6rem 4.5rem 4.5rem;
    }
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: ms(1);
    font-weight: 600;
    line-height: 1.2em;
    letter-spacing: -0.01em;

    @media (min-width: $screen-sm) {
      font-size: ms(2);
    }

    @media (min-width: $screen-xl) {
      font-size: ms(3);
      line-height: 1.1em;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
      background: linear-gradient(to top right, hsla(222%, 17, 15, 0.75) 0%, hsla(222%, 17, 15, 0.25) 100%);
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1.25);
    transform-origin: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
