.testimonial-card {

  @media (min-width: $screen-sm) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  &__content {
    position: relative;
    padding-top: 3rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 45px;
      height: 35px;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 45 35'%3E%3Cpath fill='%23B58B63' d='M8.42365 17.3279c.51724-.0765 1.21921-.1148 2.10595-.1148 2.8078 0 4.9138.8415 6.3177 2.5246 1.4778 1.6066 2.2167 3.6339 2.2167 6.082 0 2.6011-.8497 4.7814-2.5492 6.541C14.8892 34.1202 12.6355 35 9.7537 35c-2.95567 0-5.3202-.8415-7.0936-2.5246C.8867 30.7158 0 28.1913 0 24.9016c0-4.4371 1.2931-8.9125 3.87931-13.4262C6.46552 6.88524 9.64286 3.06011 13.4113 0l2.2168 2.40983C10.8251 7.68852 8.42365 12.6612 8.42365 17.3279zm25.93595 0c.5172-.0765 1.2192-.1148 2.1059-.1148 2.8079 0 4.9138.8415 6.3177 2.5246C44.2611 21.3443 45 23.3716 45 25.8197c0 2.6011-.8498 4.7814-2.5493 6.541C40.8251 34.1202 38.5714 35 35.6897 35c-2.9557 0-5.3202-.8415-7.0936-2.5246-1.7734-1.7596-2.6601-4.2841-2.6601-7.5738 0-4.4371 1.2931-8.9125 3.8793-13.4262C32.4015 6.88524 35.5788 3.06011 39.3473 0l2.2167 2.40983c-4.8029 5.27869-7.2044 10.25137-7.2044 14.91807z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    @media (min-width: $screen-sm) {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
      padding: 0 2.25rem 0 3.75rem;
    }
  }

  &__text {
    max-width: 50ch;
    margin-bottom: 1.5rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
  }

  &__author-name {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;
  }

  &__author-info {
    display: block;
    font-size: 0.6rem;
    line-height: 1.45em;
    opacity: 0.75;
  }

  &__media {
    position: relative;
    z-index: 1;
    display: none;
    overflow: hidden;
    border-radius: $border-r;

    @media (min-width: $screen-md) {
      display: block;
      flex: 0 0 auto;
      width: 17.5rem;
      max-width: 100%;

      &::before {
        display: block;
        width: 100%;
        padding-bottom: (3 / 4) * 100%;
        content: '';
      }
    }

    @media (min-width: $screen-xl) {

      &::before {
        padding-bottom: (9 / 16) * 100%;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
