mixin testimonial-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' testimonial-card--' + modsList[i].trim();
      }
    }

  article.testimonial-card(class=allMods)&attributes(attributes)
    .testimonial-card__content
      .testimonial-card__text
        p Всё ускоряющаяся эволюция компьютерных технологий предъявила жёсткие требования к производителям как собственно вычислительной техники, так и периферийных устройств.
      .testimonial-card__footer
        h3.testimonial-card__author-name Майя Попова
        span.testimonial-card__author-info Специалист технической поддержки
    .testimonial-card__media
      .testimonial-card__media-wrap
        img(src=props.photo, alt='')