.more-vacancies {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 433px;
  padding: 1rem;
  overflow: hidden;
  color: $text-c--light;
  text-decoration: none;
  background-color: $primary-c;
  border-bottom-right-radius: $border-r;
  border-bottom-left-radius: $border-r;

  @media (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  &:hover {

    .more-vacancies__media {
      transform: scale(1.125);

      svg {
        transform: scale(0.875);
      }
    }

    .more-vacancies__arrow {
      transform: translateX(0.25rem);
    }
  }

  &__media {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    color: $text-c;
    background-color: $bg-c;
    border-radius: 2.5rem;
    transition: transform 0.5s $transition-t;
    transform-origin: center center;

    svg {
      display: block;
      transition: transform 0.5s $transition-t;
      transform-origin: center center;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__bottom {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
  }

  &__caption {
    display: block;
    padding: 0.5rem 0;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;
  }

  &__arrow {
    transition: transform 0.5s $transition-t;
    transform-origin: center left;

    svg {
      display: block;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__shape {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 400px;
    height: 400px;
    background-image:
      radial-gradient(circle at center, rgba($primary-c, 0.5) 0, rgba($primary-c, 1) 100%),
      radial-gradient(#fff 1px, $primary-c 1px);
    background-size: 100%, 15px 15px;
    border-radius: 400px;
    transform: translate3d(-50%, 50%, 0);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: $text-c;
  }
}
