mixin more-vacancies()

  a.more-vacancies(href='/')
    .more-vacancies__media
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
        path(stroke-linecap='round', stroke-linejoin='round', d='M6.91676 11.894c3.19144 0 5.91764.5094 5.91764 2.5439 0 2.0355-2.7089 2.5621-5.91764 2.5621C3.72529 17 1 16.4916 1 14.4562c0-2.0355 2.70799-2.5622 5.91676-2.5622z', clip-rule='evenodd')
        path(stroke-linecap='round', stroke-linejoin='round', d='M13.7882 11.2472c.4705.0337.9376.1048 1.3985.2123.6392.1339 1.409.41 1.6823 1.0141.1747.3872.1747.8382 0 1.2255-.2725.604-1.0431.8801-1.6823 1.0186M12.4769 7.98258c1.575 0 2.8516-1.34484 2.8516-3.00402 0-1.65826-1.2766-3.00401-2.8516-3.00401')
        path(stroke-linecap='round', stroke-linejoin='round', d='M6.91671 8.98975c-2.10516 0-3.79171-1.77763-3.79171-3.99533C3.125 2.77763 4.81155 1 6.91671 1s3.79259 1.77763 3.79259 3.99442c0 2.2177-1.68743 3.99533-3.79259 3.99533z', clip-rule='evenodd')
    .more-vacancies__bottom
      span.more-vacancies__caption Все вакансии
      span.more-vacancies__arrow
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 11', width='20', height='11')
          path(stroke-linecap='round', stroke-linejoin='round', d='M1 5.5h18m0 0L14.5 1M19 5.5L14.5 10')
    .more-vacancies__shape
