.page-header {
  position: relative;
  z-index: 100;
  padding: 0.5rem 1rem 0;

  @media (min-width: $screen-sm) {
    padding: 0 1.5rem;
  }

  &__container {
    @include container;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;

    @media (min-width: $screen-sm) {
      align-items: center;

      &::after {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        opacity: 0.25;
      }
    }
  }

  &__logo {
    margin-right: auto;

    @media (min-width: $screen-sm) {
      order: 1;

      img {
        width: 150px;
        height: auto;
      }
    }
  }

  &__contacts {
    position: relative;
    padding: 0 0 0.5rem 1rem;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;

    @media (min-width: $screen-sm) {
      order: 3;
      padding: 1rem 0 1rem 2.25rem;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 1px;
      content: '';
      background-color: currentColor;
      opacity: 0.25;
    }

    a {
      color: currentColor;
      text-decoration: none;
      transition: 250ms $transition-t;

      &::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        left: -0.5em;
        content: '';
      }

      &:hover {
        color: $primary-c;
      }
    }
  }

  &__nav {
    position: relative;

    @media (max-width: ($screen-sm - 1px)) {
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
      padding: 0.5rem 0;

      &::before,
      &::after {
        position: absolute;
        right: 0;
        left: 0;
        height: 1px;
        content: '';
        background-color: currentColor;
        opacity: 0.25;
      }

      &::before {
        bottom: 100%;
      }

      &::after {
        top: 100%;
      }
    }

    @media (min-width: $screen-sm) {
      order: 2;
      padding: 1rem 2.25rem 1rem 0;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: ($screen-sm - 1px)) {
      justify-content: space-between;
    }
  }

  &__nav-item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.45em;

    @media (min-width: $screen-sm) {

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }
  }

  &__nav-link {
    position: relative;
    display: block;
    color: currentColor;
    text-decoration: none;
    transition: 250ms $transition-t;

    &::before {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    &:hover {
      color: $primary-c;
    }
  }
}
