mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      +logo().page-header__logo
      .page-header__contacts
        a(href='tel:+74951258085') +7 (495) 125-80-85
      nav.page-header__nav
        ul.page-header__nav-list
          li.page-header__nav-item
            a.page-header__nav-link(href='/') Вакансии
          li.page-header__nav-item
            a.page-header__nav-link(href='/') О компании
          li.page-header__nav-item
            a.page-header__nav-link(href='/') Контакты