@mixin container {
  position: relative;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

@mixin subtitle {
  position: relative;
  display: block;
  max-width: 45ch;
  padding-left: 0.9rem;
  margin-top: 0;
  font-size: ms(-1);
  font-weight: 500;
  line-height: 1.45em;

  &::before {
    position: absolute;
    top: 0.325rem;
    left: 0;
    width: 0.4rem;
    height: 0.4rem;
    content: '';
    background-color: currentColor;
    border-radius: 0.4rem;
  }
}

@mixin title {
  max-width: 30ch;
  margin-top: 0;
  font-size: ms(1);
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: -0.01em;

  @media (min-width: $screen-sm) {
    font-size: ms(2);
    line-height: 1.1em;
  }
}
