.contact-us {
  position: relative;
  padding: 2.25rem 1rem;
  color: $text-c--light;
  background-color: $bg-c--dark;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      padding: 0 2.5rem;
    }

    @media (min-width: $screen-md) {
      padding: 0 4.5rem;
    }
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__content {
    position: relative;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'form . otherwise' / 6fr 1fr 5fr;
      gap: 1rem;
    }
  }

  &__form {
    position: relative;
    z-index: 2;

    @media (min-width: $screen-sm) {
      grid-area: form;
    }
  }

  &__otherwise {
    position: relative;
    z-index: 2;
    padding-top: 4.5rem;

    @media (min-width: $screen-sm) {
      grid-area: otherwise;
      padding-top: 1.5rem;
    }
  }

  &__otherwise-caption {
    position: relative;
    margin-top: 0;
    margin-bottom: 1.5rem;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;
    color: rgba($text-c--light, 0.5);

    &::before {
      position: absolute;
      bottom: calc(100% + 1.5rem);
      left: 0;
      width: 2.25rem;
      height: 1px;
      content: '';
      background-color: $primary-c;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      transition: transform 0.5s $transition-t;
      transform: scaleX(0);
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  &__shape {
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-image:
      radial-gradient(circle at center, rgba($bg-c--dark, 0.5) 0, rgba($bg-c--dark, 1) 100%),
      radial-gradient($accent-c 1px, $bg-c--dark 1px);
    background-size: 100%, 15px 15px;

    &--small {
      top: 0;
      left: 0;
      width: 150px;
      height: 150px;
      border-radius: 150px;
      transform: translate3d(-75%, -25%, 0);
    }

    &--big {
      right: 0;
      bottom: 0;
      width: 300px;
      height: 300px;
      border-radius: 300px;
      transform: translate3d(50%, 12.5%, 0);

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        content: '';
        background-color: transparent;
        border: 1px solid $bg-c;
        transform: translate3d(-50%, -50%, 0);
      }

      &::before {
        width: 425px;
        height: 425px;
        border-radius: 425px;
        opacity: 0.125;
      }

      &::after {
        width: 600px;
        height: 600px;
        border-radius: 600px;
        opacity: 0.05;
      }
    }
  }
}
