.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: ms(-1);
  font-weight: 600;
  line-height: 1.45em;
  color: $text-c--light;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid $primary-c;
  border-radius: $border-r--s;
  transition: all 250ms $transition-t;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    background-color: $primary-c;
    transition: transform 500ms $transition-t;
    transform: scaleY(1);
    transform-origin: center top;
  }

  @media (min-width: $screen-sm) {
    padding: 0.75rem 1.5rem;
  }

  &__inner {
    position: relative;
    z-index: 2;
    display: block;
    transition: transform 0.5s $transition-t, opacity 0.25s $transition-t;
    transform-origin: center center;

    &--hover {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate3d(-50%, 50%, 0);
    }
  }

  &:hover,
  &:focus {
    color: currentColor;

    &::before {
      transform: scaleY(0);
      transform-origin: center top;
    }

    .btn__inner--default {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }

    .btn__inner--hover {
      opacity: 1;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &--small {
    padding: 0.5rem 1rem;
  }
}
