.career {

  &__container {
    @include container;
    position: relative;
    z-index: 1;
    padding: 2.25rem 1rem;
    overflow: hidden;
    color: $text-c--light;
    background-color: $primary-c;
    border-radius: $border-r;

    @media (min-width: $screen-sm) {
      padding: 4.5rem 2.5rem;
    }

    @media (min-width: $screen-md) {
      padding: 4.5rem;
    }
  }

  &__subtitle {
    @include subtitle;
    position: relative;
    z-index: 2;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    @include title;
    position: relative;
    z-index: 2;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }
  }

  &__steps {
    position: relative;
    z-index: 2;
    padding: 0;
    margin: 0;
    list-style: none;
    counter-reset: step;

    @media (min-width: $screen-md) {
      position: relative;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;

      &::before {
        position: absolute;
        top: 1rem;
        left: 0;
        width: 150%;
        height: 1px;
        pointer-events: none;
        content: '';
        background-image: linear-gradient(to right, rgba($text-c--light, 0) 0%, rgba($text-c--light, 1) 100%);
      }
    }
  }

  &__step {
    padding: 0;
    margin: 0;
    counter-increment: step;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (min-width: $screen-md) {
      padding-right: 1.5rem;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }

    &:hover {

      .career__step-point {

        &::before {
          transform: translate3d(-50%, -50%, 0) scale(1);
        }

        &::after {
          transform: translate3d(-50%, -50%, 0) scale(1);
        }
      }

      .career__step-desc {
        opacity: 1;
      }
    }
  }

  &__step-point {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-bottom: 0.75rem;
    background-color: $primary-c;
    border: 1px solid currentColor;
    border-radius: 2rem;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      font-size: ms(-2);
      font-weight: 600;
      line-height: 1.45em;
      transform: translate3d(-50%, -50%, 0);

      &::before {
        content: counter(step, decimal-leading-zero);
      }
    }

    @media (min-width: $screen-sm) {

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        content: '';
        background-color: #fff;
        transition: 0.75s $transition-t;
        transform: translate3d(-50%, -50%, 0) scale(0);
        transform-origin: center;
      }

      &::before {
        width: 3rem;
        height: 3rem;
        border-radius: 3rem;
        opacity: 0.25;
      }

      &::after {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 4.5rem;
        opacity: 0.05;
        transition-delay: 25ms;
      }
    }

    @media (min-width: $screen-md) {
      margin-bottom: 1.5rem;
    }
  }

  &__step-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;

    @media (min-width: $screen-xl) {
      margin-bottom: 0.75rem;
    }
  }

  &__step-desc {
    max-width: 70ch;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.6em;
    opacity: 0.75;
    transition: 0.75s $transition-t;
  }

  &__shape {
    position: absolute;
    z-index: 1;
    background-image:
      radial-gradient(circle at center, rgba($primary-c, 0.5) 0, rgba($primary-c, 1) 100%),
      radial-gradient(#fff 1px, $primary-c 1px);
    background-size: 100%, 15px 15px;

    &--small {
      bottom: 0;
      left: 0;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      transform: translate3d(-25%, 25%, 0);
    }

    &--big {
      top: 0;
      right: 0;
      width: 300px;
      height: 300px;
      border-radius: 300px;
      transform: translate3d(25%, -50%, 0);
    }
  }
}
