.vacancies-list {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    padding: 0;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.75rem;

      @media (min-width: $screen-xs) {
        margin-bottom: 0;
      }
    }
  }
}
