.vacancies {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__title {
    @include subtitle;
    margin-bottom: 1.5rem;
  }

  &__slider-progressbar {
    margin-top: 1rem;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__shape {
    position: absolute;
    z-index: -1;
    background-image:
      radial-gradient(circle at center, hsla(0%, 0, 100, 0) 0, hsla(0%, 0, 100, 1) 100%),
      radial-gradient($accent-c 1px, $bg-c 1px);
    background-size: 100%, 15px 15px;

    &--small {
      right: 0;
      bottom: 100%;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      transform: translate3d(50%, 75%, 0);
    }

    &--big {
      bottom: 0;
      left: 0;
      width: 300px;
      height: 300px;
      border-radius: 300px;
      transform: translate3d(-50%, 50%, 0);
    }
  }
}
