include ../blocks/btn/btn.pug
include ../blocks/field-actions/field-actions.pug
include ../blocks/field-checkbox/field-checkbox.pug
include ../blocks/field-radio/field-radio.pug
include ../blocks/field-search/field-search.pug
include ../blocks/field-text/field-text.pug
include ../blocks/form/form.pug
include ../blocks/get-a-call-modal/get-a-call-modal.pug
include ../blocks/logo/logo.pug
include ../blocks/more-vacancies/more-vacancies.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/testimonial-card/testimonial-card.pug
include ../blocks/vacancy-card/vacancy-card.pug
