extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.promo
    .promo__container
      .promo__content
        span.promo__subtitle Аутсорсинговый центр
        h1.promo__title
          | Построй свою карьеру
          br
          | с Telestandart
        +btn('Заполнить анкету', '#get-a-call-modal')(data-fancybox='')
      .promo__media
        .promo__media-wrap
          img.rellax(src='https://images.unsplash.com/photo-1556761175-b413da4baf72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=4867&q=80', alt='', data-rellax-speed='-2', data-rellax-percentage='0.575')

  section.vacancies
    .vacancies__container
      h2.vacancies__title Вакансии
      .vacancies__slider
        .swiper-wrapper
          .swiper-slide
            +vacancy-card({
              title: 'Оператор контакт-центра',
              salary: 'от 23 000 ₽'
            })
          .swiper-slide
            +vacancy-card({
              title: 'Оператор call-центра',
              salary: 'от 18 000 ₽'
            })
          .swiper-slide
            +vacancy-card({
              title: 'Специалист технической поддержки',
              salary: 'от 26 000 ₽'
            })
          .swiper-slide
            +more-vacancies()

      +slider-progressbar().vacancies__slider-progressbar
      .vacancies__shape.vacancies__shape--small
      .vacancies__shape.vacancies__shape--big

  section.about-us
    .about-us__container
      .about-us__content
        span.about-us__subtitle О нас
        h2.about-us__title Telestandart — аутсорсинговый колл-центр с опытом реализации проектов в различных сферах бизнеса
        .about-us__text
          p Наша миссия — адаптироваться под потребности вашего бизнеса, улучшая сервис и снижая затраты. Уже более 6 лет мы предоставляем качественный сервис по обслуживанию клиентов. Наши квалифицированные специалисты ежемесячно обрабатывают более 450 000 звонков по всем каналам коммуникаций.
        +btn('Подробнее о нас', '/')
      .about-us__media
        .about-us__media-item.about-us__media-item--left
          .about-us__media-wrap.rellax(data-rellax-speed='-2', data-rellax-percentage='0.5')
            img(src='https://images.unsplash.com/photo-1501556466850-7c9fa1fccb4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1402&q=80', alt='')
        .about-us__media-item.about-us__media-item--right
          .about-us__media-wrap.rellax(data-rellax-speed='-2', data-rellax-percentage='0.5')
            img(src='https://images.unsplash.com/photo-1518976224508-8119c10fabad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1264&q=80', alt='')

  section.advantages
    .advantages__container
      .advantages__media
        .advantages__media-wrap.rellax(data-rellax-speed='-2', data-rellax-percentage='0.5')
          img(src='https://images.unsplash.com/photo-1543269865-4430f94492b9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3900&q=80', alt='')
      .advantages__content
        span.advantages__subtitle Преимущества
        h2.advantages__title Почему выбирают нас
        ul.advantages__list
          li.advantages__item
            h3.advantages__advantage-term Выгодно
            p.advantages__advantage-desc Исключаются затраты на оборудование рабочих мест, приобретение ПО и обучение специалистов.
          li.advantages__item
            h3.advantages__advantage-term Эффективно
            p.advantages__advantage-desc Ваши собственные специалисты смогут качественнее и быстрее развивать бизнес.
          li.advantages__item
            h3.advantages__advantage-term Быстро
            p.advantages__advantage-desc Для запуска достаточно описать задачи, скрипты и функционал на проекте.
          li.advantages__item
            h3.advantages__advantage-term Компетентно
            p.advantages__advantage-desc У нас есть опыт в организации и сопровождении широкого спектра проектов.
        .advantages__shape

  section.career
    .career__container
      span.career__subtitle Карьера
      h2.career__title
        | Начни карьеру вместе
        br
        | с нами
      ul.career__steps
        li.career__step
          span.career__step-point
            span
          h3.career__step-title Оператор
          p.career__step-desc Специалист, который помогает получить информацию, решить проблему или оформить заказ по телефону.
        li.career__step
          span.career__step-point
            span
          h3.career__step-title Супервайзер
          p.career__step-desc Руководитель, задача которого состоит в осуществлении анализа, планирования, организации, контроля и мотивационной деятельности группы операторов
        li.career__step
          span.career__step-point
            span
          h3.career__step-title Руководитель группы
          p.career__step-desc Подъём с затонувшего эсминца легкобьющейся древнегреческой амфоры сопряжён с техническими трудностями.
      .career__shape.career__shape--small
      .career__shape.career__shape--big

  section.testimonials
    .testimonials__container
      h2.testimonials__title Отзывы
      .testimonials__slider
        .swiper-wrapper
          .swiper-slide.testimonials__slide
            +testimonial-card({
              photo: 'https://images.unsplash.com/photo-1598257006458-087169a1f08d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
            })
          .swiper-slide.testimonials__slide
            +testimonial-card({
              photo: 'https://images.unsplash.com/photo-1592329347431-0943ca753471?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1778&q=80'
            })
          .swiper-slide.testimonials__slide
            +testimonial-card({
              photo: 'https://images.unsplash.com/photo-1543269664-56d93c1b41a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
            })
      +slider-progressbar().testimonials__slider-progressbar

  article.contact-us
    .contact-us__container
      span.contact-us__subtitle Обратная связь
      h2.contact-us__title
        | Начни карьеру вместе
        br
        | с нами
      .contact-us__content
        +form().contact-us__form
          +field-text({
            title: 'Имя',
            val: '',
            attrs: {
              name: 'name'
            }
          })
          +field-text({
            title: 'Телефон',
            val: '',
            attrs: {
              name: 'phone'
            }
          })
          +field-actions()
            +btn('Отправить заявку')
        .contact-us__otherwise
          h3.contact-us__otherwise-caption
            | Или свяжитесь с нами удобных
            br
            | для вас способом
          ul.contact-us__list
            li.contact-us__item
              a.contact-us__link(href='mailto:info@telestandard.ru') info@telestandard.ru
            li.contact-us__item
              a.contact-us__link(href='tel:+74951258085') +7 (495) 125-80-85
        .contact-us__shape.contact-us__shape--small
    .contact-us__shape.contact-us__shape--big