extends ../pug/layout.pug

block meta
  - var title = 'Vacancy';
  title= title
  meta(name='description', content='')

block content
  section.vacancy
    .vacancy__container
      a.vacancy__go-back(href='/')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 11', width='20', height='11')
          path(stroke-linecap='round', stroke-linejoin='round', d='M19 5.5H1m0 0L5.5 1M1 5.5L5.5 10')
        span Все вакансии
      h1.vacancy__title Специалист технической поддержки
      span.vacancy__salary От 26 000 ₽ до 30 000 ₽ до вычета налогов
      dl.vacancy__intro
        .vacancy__intro-group
          dt.vacancy__intro-term Требуемый опыт работы
          dd.vacancy__intro-desc не требуется
        .vacancy__intro-group
          dt.vacancy__intro-term Полная занятость
          dd.vacancy__intro-desc полный день
        .vacancy__intro-group
          dt.vacancy__intro-term Возможно временное оформление
          dd.vacancy__intro-desc договор услуг, подряда, ГПХ, самозанятые, ИП
      +btn('Откликнуться')
      .vacancy__info
        h2.vacancy__subtitle Обязанности
        ul.vacancy__list
          li Совершение звонков по запланированному сценарию
          li Презентация клиентам дополнительных банковских услуг
          li Работа осуществляется по готовой клиентской базе (без поиска клиентов)
        h2.vacancy__subtitle Требования
        ul.vacancy__list
          li Грамотная речь, четкая дикция
          li Вежливость
          li Желание развиваться и работать в сфере продаж
          li Рассматриваем кандидатов без опыта работы, т.к. предоставляем обучение
        h2.vacancy__subtitle Условия
        ul.vacancy__list
          li Стабильная фиксированная заработная плата 20000 чистыми на руки (независимо от продаж)
          li График работы 5/2 (с 10 до 19), сб/вскр и праздники - выходные
          li Профессиональное оплачиваемое обучение
          li Возможность карьерного роста
          li Полный соц. пакет (больничный, отпуск и т.п.)
          li Дружный коллектив
          li Возможность перехода на удаленную работу из дома после прохождения стажировки из офиса

  article.contact-us
    .contact-us__container
      span.contact-us__subtitle Обратная связь
      h2.contact-us__title
        | Начни карьеру вместе
        br
        | с нами
      .contact-us__content
        +form().contact-us__form
          +field-text({
            title: 'Имя',
            val: '',
            attrs: {
              name: 'name'
            }
          })
          +field-text({
            title: 'Телефон',
            val: '',
            attrs: {
              name: 'phone'
            }
          })
          +field-actions()
            +btn('Отправить заявку')
        .contact-us__otherwise
          h3.contact-us__otherwise-caption
            | Или свяжитесь с нами удобных
            br
            | для вас способом
          ul.contact-us__list
            li.contact-us__item
              a.contact-us__link(href='mailto:info@telestandard.ru') info@telestandard.ru
            li.contact-us__item
              a.contact-us__link(href='tel:+74951258085') +7 (495) 125-80-85
        .contact-us__shape.contact-us__shape--small
    .contact-us__shape.contact-us__shape--big