extends ../pug/layout.pug

block meta
  - var title = 'Vacancies List';
  title= title
  meta(name='description', content='')

block content
  section.vacancies-list
    .vacancies-list__container
      h1.vacancies-list__title Вакансии
      ul.vacancies-list__list
        li.vacancies-list__item
          +vacancy-card({
            title: 'Оператор контакт-центра',
            salary: 'от 23 000 ₽'
          })
        li.vacancies-list__item
          +vacancy-card({
            title: 'Оператор call-центра',
            salary: 'от 18 000 ₽'
          })
        li.vacancies-list__item
          +vacancy-card({
            title: 'Специалист технической поддержки',
            salary: 'от 26 000 ₽'
          })

  article.contact-us
    .contact-us__container
      span.contact-us__subtitle Обратная связь
      h2.contact-us__title
        | Начни карьеру вместе
        br
        | с нами
      .contact-us__content
        +form().contact-us__form
          +field-text({
            title: 'Имя',
            val: '',
            attrs: {
              name: 'name'
            }
          })
          +field-text({
            title: 'Телефон',
            val: '',
            attrs: {
              name: 'phone'
            }
          })
          +field-actions()
            +btn('Отправить заявку')
        .contact-us__otherwise
          h3.contact-us__otherwise-caption
            | Или свяжитесь с нами удобных
            br
            | для вас способом
          ul.contact-us__list
            li.contact-us__item
              a.contact-us__link(href='mailto:info@telestandard.ru') info@telestandard.ru
            li.contact-us__item
              a.contact-us__link(href='tel:+74951258085') +7 (495) 125-80-85
        .contact-us__shape.contact-us__shape--small
    .contact-us__shape.contact-us__shape--big