mixin logo(href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  a.logo(class=allMods, href='/')&attributes(attributes)
    img(src='img/logo.png', alt='', width='120', height='20')