mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top
        section.page-footer__block.page-footer__block--vacancies
          h3.page-footer__subtitle Вакансии
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href='/') Оператор call-центра
            li.page-footer__item
              a.page-footer__link(href='/') Оператор технической поддержки
            li.page-footer__item
              a.page-footer__link(href='/') Оператор контакт-центра
        section.page-footer__block.page-footer__block--nav
          h3.page-footer__subtitle О компании
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href='/') О нас
            li.page-footer__item
              a.page-footer__link(href='/') Почему выбирают нас
        section.page-footer__block.page-footer__block--contacts
          h3.page-footer__subtitle Связаться
          ul.page-footer__list
            li.page-footer__item
              a.page-footer__link(href='mailto:info@telestandard.ru') info@telestandard.ru
            li.page-footer__item
              a.page-footer__link(href='tel:+74951258085') +7 (495) 125-80-85
      .page-footer__bottom
        span.page-footer__copyright © 2021 — Telestandart. All Right Reserved.
        ul.page-footer__social-list
          li.page-footer__social-item
            a.page-footer__social-link(href='/', rel='noopener')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 12', width='20', height='12')
                path(fill-rule='evenodd', d='M2.93775 0H.750191C.125032 0 0 .297095 0 .625516 0 1.21061.741188 4.11486 3.45388 7.95486 5.26134 10.5782 7.80898 12 10.1266 12c1.3913 0 1.5634-.3163 1.5634-.8589V9.1584c0-.63158.132-.7579.5721-.7579.3251 0 .8802.16371 2.1796 1.42788C15.925 11.328 16.1691 12 17.0033 12h2.1886c.6251 0 .9382-.3163.7572-.9398-.1971-.6205-.9053-1.52184-1.8455-2.58997-.5101-.60834-1.2743-1.26417-1.5064-1.59259-.3251-.42139-.232-.60833 0-.98324 0 0 2.6657-3.79352 2.9438-5.081937C19.681.344589 19.541 0 18.8788 0h-2.1876c-.5561 0-.8132.297095-.9522.625516 0 0-1.1123 2.739534-2.6887 4.519074-.5101.51537-.7422.68008-1.0202.68008-.1391 0-.3401-.16471-.3401-.63259V.812463C11.69.25061 11.5289 0 11.0648 0H7.62594c-.34709 0-.55614.260716-.55614.508295 0 .532545.7882.655835.86922 2.154445v3.2549c0 .71444-.12704.84379-.40611.84379-.74118 0-2.54564-2.75267-3.61591-5.901472C3.70694.247579 3.49689 0 2.93775 0z', clip-rule='evenodd')
          li.page-footer__social-item
            a.page-footer__social-link(href='/', rel='noopener')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
                path(d='M14 7c0-3.85-3.15-7-7-7S0 3.15 0 7c0 3.5 2.5375 6.3875 5.8625 6.9125v-4.9h-1.75V7h1.75V5.425c0-1.75 1.05-2.7125 2.625-2.7125.7875 0 1.575.175 1.575.175v1.75h-.875c-.875 0-1.1375.525-1.1375 1.05V7h1.925l-.35 2.0125H7.9625V14C11.4625 13.475 14 10.5 14 7z')
          li.page-footer__social-item
            a.page-footer__social-link(href='/', rel='noopener')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
                path(d='M7 1.26506h2.86747c.67473 0 1.01203.16868 1.26503.25301.3374.16868.5904.25302.8434.50603.253.25301.4217.50602.506.84337.0844.25301.1687.59036.253 1.26506v5.73494c0 .67473-.1686 1.01203-.253 1.26503-.1686.3374-.253.5904-.506.8434s-.506.4217-.8434.506c-.253.0844-.5903.1687-1.26503.253H4.13253c-.6747 0-1.01205-.1686-1.26506-.253-.33735-.1686-.59036-.253-.84337-.506-.25301-.253-.42169-.506-.50603-.8434-.08433-.253-.16867-.5903-.25301-1.26503V7 4.13253c0-.6747.16868-1.01205.25301-1.26506.16868-.33735.25302-.59036.50603-.84337.25301-.25301.50602-.42169.84337-.50603.25301-.08433.59036-.16867 1.26506-.25301H7zM7 0H4.13253c-.75904 0-1.26506.168675-1.68675.33735-.42168.168675-.84337.421687-1.26506.84337-.421683.42169-.590358.75904-.84337 1.26506C.168675 2.86747.0843374 3.37349 0 4.13253v5.73494c0 .75903.168675 1.26503.33735 1.68673.168675.4217.421687.8434.84337 1.2651.42169.4217.75904.5903 1.26506.8434.42169.1686.92771.253 1.68675.3373h5.73494c.75903 0 1.26503-.1687 1.68673-.3373.4217-.1687.8434-.4217 1.2651-.8434.4217-.4217.5903-.7591.8434-1.2651.1686-.4217.253-.9277.3373-1.68673V7 4.13253c0-.75904-.1687-1.26506-.3373-1.68675-.1687-.42168-.4217-.84337-.8434-1.26506-.4217-.421683-.7591-.590358-1.2651-.84337C11.1325.168675 10.6265.0843374 9.86747 0H7z')
                path(d='M7 3.37349C4.9759 3.37349 3.37349 4.9759 3.37349 7c0 2.0241 1.60241 3.6265 3.62651 3.6265 2.0241 0 3.6265-1.6024 3.6265-3.6265S9.0241 3.37349 7 3.37349zm0 5.98796C5.73494 9.36145 4.63855 8.3494 4.63855 7 4.63855 5.73494 5.6506 4.63855 7 4.63855 8.26506 4.63855 9.36145 5.6506 9.36145 7c0 1.26506-1.09639 2.36145-2.36145 2.36145zM10.7108 4.13253c.4658 0 .8434-.37759.8434-.84337 0-.46578-.3776-.84338-.8434-.84338-.4657 0-.84333.3776-.84333.84338s.37763.84337.84333.84337z')
          li.page-footer__social-item
            a.page-footer__social-link(href='/', rel='noopener')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 14', width='22', height='14')
                path(d='M.00429261 7.00879C-.0558413 9.92932 1.95305 12.7164 4.71649 13.6254c2.60298.8757 5.80341.2206 7.53551-2.0116 1.2646-1.564 1.552-3.64915 1.4151-5.59719-2.2292-.01997-4.45839-.01331-6.68425-.00998-.00363.79519 0 1.58735.00332 2.38254 1.33473.03692 2.66976.01997 4.00453.0469-.337 1.15617-1.10451 2.23213-2.26941 2.64973-2.24913.9925-5.11894-.3041-5.82664-2.66667-.85427-2.26242.54422-4.99263 2.85318-5.65075 1.43173-.50441 2.90668.06354 4.13172.80881.62065-.58157 1.20145-1.20308 1.77195-1.83124C10.2597.579795 8.47108-.13521 6.63232.0218305 3.02459.0647973-.132595 3.39987.00429261 7.00879zM18.0055 4.00111c-.0067.66507-.0136 1.33348-.0169 1.99826-.6676.00665-1.3315.00998-1.9956.01331v1.9916c.6641.00333 1.3317.00666 1.9956.01362.0066.66508.0066 1.32985.0133 1.9983.6608 0 1.325-.0034 1.9889 0 .0036-.66845.0067-1.33322.0136-2.00163L22 8.00459V6.01298c-.6639-.00332-1.3314-.00665-1.9956-.01331-.0036-.66508-.01-1.33349-.0136-1.99826l-1.9853-.0003z')
                path(d='M.00429261 7.00879C-.132595 3.39987 3.02428.0647975 6.63201.021528 8.47078-.135513 10.2597.579492 11.6512 1.74565c-.5708.62846-1.1516 1.24967-1.77196 1.83123-1.22504-.74526-2.69998-1.31321-4.13171-.8088-2.30926.65842-3.70775 3.38863-2.85318 5.65075.7077 2.36257 3.57751 3.65917 5.82664 2.66667 1.1646-.4176 1.93241-1.49356 2.26941-2.64973-1.33477-.02663-2.6698-.00999-4.00453-.0469-.00333-.79519-.00665-1.58735-.00333-2.38254 2.22586-.00333 4.45506-.00999 6.68426.00998.1369 1.94834-.1502 4.03339-1.4151 5.59719-1.7321 2.2322-4.93223 2.8873-7.53551 2.0116C1.95336 12.7164-.0558413 9.92932.00429261 7.00879zM18.0055 4.00111l1.9853.0003c.0036.66477.01 1.33318.0136 1.99826.6642.00666 1.3317.00999 1.9956.01331v1.99161l-1.9956.00998c-.0066.66841-.01 1.33318-.0136 2.00163-.6639-.0034-1.3281 0-1.9889 0-.0064-.66845-.0064-1.33322-.0133-1.9983-.6639-.00696-1.3315-.00998-1.9956-.01362v-1.9919c.6641-.00333 1.3283-.00636 1.9956-.01301.0033-.66448.0099-1.33319.0169-1.99826z')
          li.page-footer__social-item
            a.page-footer__social-link(href='/', rel='noopener')
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 13', width='16', height='13')
                path(d='M5.03186 13c6.03804 0 9.33994-5.00101 9.33994-9.33743 0-.14209-.0029-.28345-.0094-.42426.6409-.46319 1.1981-1.04135 1.6376-1.6992-.5882.26125-1.2211.43717-1.8851.51649.6777-.40624 1.1981-1.04918 1.4436-1.815456-.6344.376045-1.3368.6493-2.0843.796666C12.8749.398967 12.0218 0 11.0779 0 9.26483 0 7.79464 1.46979 7.79464 3.28143c0 .25761.02893.50794.08498.74827-2.72802-.137-5.14723-1.44305-6.7661-3.428611C.831273 1.08593.668767 1.64954.668767 2.25044c0 1.13851.579603 2.14366 1.460913 2.73183-.53847-.01656-1.04437-.16465-1.486754-.41061-.000728.01364-.000728.02747-.000728.04184 0 1.5895 1.131722 2.91648 2.633582 3.21721-.2757.07514-.56577.11552-.86531.11552-.21146 0-.41709-.0211-.61708-.05912.41782 1.30369 1.62979 2.25259 3.06668 2.27939-1.12371.8803-2.53913 1.4048-4.077021 1.4048-.264777 0-.526097-.0151-.783049-.0455C1.45273 12.4566 3.17769 13 5.03186 13z')
      a.page-footer__to-top(href='/')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 44 20', width='44', height='20')
          path(stroke-linecap='round', stroke-linejoin='round', d='M5.5 1v16c0 1.1046.89543 2 2 2H43M5.5 1L.999999 6M5.5 1L10 6')