.page-footer {
  padding: 2.25rem 1rem;
  color: $text-c--light;
  background-color: $bg-c--dark;

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      padding: 0 2.5rem;
    }

    @media (min-width: $screen-md) {
      padding: 0 4.5rem;
    }
  }

  &__top {

    @media (min-width: $screen-sm) {
      display: grid;
      grid-template: 'vacancies nav contacts' / 4fr 4fr 4fr;
      gap: 1rem;
    }

    @media (min-width: $screen-md) {
      grid-template: 'vacancies nav contacts' / 4fr 3fr 4fr;
      gap: 1rem;
    }
  }

  &__block {

    &--vacancies {
      margin-bottom: 1.5rem;

      @media (min-width: $screen-sm) {
        grid-area: vacancies;
        padding-right: 0.75rem;
        margin-bottom: 0;
      }

      .page-footer__subtitle {
        color: $accent-c;
        opacity: 1;
      }
    }

    &--nav {
      margin-bottom: 1.5rem;

      @media (min-width: $screen-sm) {
        grid-area: nav;
        padding-right: 0.75rem;
        margin-bottom: 0;
      }
    }

    &--contacts {

      @media (min-width: $screen-sm) {
        display: flex;
        grid-area: contacts;
        flex-direction: column;
        margin-left: auto;
      }
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(-2);
    font-weight: 600;
    line-height: 1.55em;
    opacity: 0.5;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    color: currentColor;
    text-decoration: none;

    &::before {
      position: absolute;
      top: -0.25em;
      right: -0.25em;
      bottom: -0.25em;
      left: -0.25em;
      content: '';
    }

    &::after {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 1px;
      content: '';
      background-color: currentColor;
      transition: transform 0.5s $transition-t;
      transform: scaleX(0);
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      color: currentColor;
      text-decoration: none;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  &__bottom {
    position: relative;
    padding-top: 4.5rem;

    @media (min-width: $screen-sm) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 6rem;
    }

    @media (min-width: $screen-xl) {
      padding-top: 9rem;
    }
  }

  &__copyright {
    display: block;
    font-size: ms(-2);
    line-height: 1.55em;
    opacity: 0.5;
  }

  &__social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;

    @media (max-width: ($screen-sm - 1px)) {
      position: absolute;
      right: 0;
      bottom: 0;
      flex-direction: column;
    }
  }

  &__social-item {
    padding: 0;
    margin: 0;
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;

    &:not(:last-child) {
      margin-right: 1rem;

      @media (max-width: ($screen-sm - 1px)) {
        margin-right: 0;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__social-link {
    position: relative;
    display: block;
    color: currentColor;
    text-decoration: none;
    transition: 250ms $transition-t;

    &::before {
      position: absolute;
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
      content: '';
    }

    svg {
      display: block;
      fill: currentColor;
    }

    &:hover {
      color: $accent-c;
    }
  }

  &__to-top {
    display: none;
    color: currentColor;
    text-decoration: none;

    svg {
      fill: transparent;
      stroke: currentColor;
    }

    @media (min-width: $screen-xl) {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      transform: translateY(1px);

      &::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        left: -0.5em;
        content: '';
      }
    }
  }
}
