mixin vacancy-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' vacancy-card--' + modsList[i].trim();
      }
    }

  article.vacancy-card(class=allMods)&attributes(attributes)
    header.vacancy-card__info
      .vacancy-card__media
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 18 18', width='18', height='18')
          path(stroke-linecap='round', stroke-linejoin='round', d='M7.16403 11.8936C3.83941 11.8936 1 12.4017 1 14.4376 1 16.4727 3.82125 17 7.16403 17c3.32457 0 6.16407-.509 6.16407-2.544 0-2.0351-2.8213-2.5624-6.16407-2.5624zM7.16402 8.98981c2.19335 0 3.95078-1.77794 3.95078-3.9949C11.1148 2.77707 9.35737 1 7.16402 1 4.97154 1 3.21323 2.77707 3.21323 4.99491c0 2.21696 1.75831 3.9949 3.95079 3.9949z', clip-rule='evenodd')
          path(stroke-linecap='round', stroke-linejoin='round', d='M15.2305 6.17658v3.50691M17 7.92993h-3.5374')
      h3.vacancy-card__title!= props.title
      span.vacancy-card__salary!= props.salary
    +btn('Подробнее', '/', 'small, ghost')