.vacancy-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 433px;
  padding: 1rem;
  background-color: $bg-c--shade;
  border-bottom-right-radius: $border-r;
  border-bottom-left-radius: $border-r;

  @media (min-width: $screen-sm) {
    padding: 1.5rem;
  }

  &:hover {

    .vacancy-card__media {
      transform: scale(1.125);

      svg {
        transform: scale(0.875);
      }
    }
  }

  &__info {
    margin-bottom: auto;
  }

  &__media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    color: $text-c--light;
    background-color: $bg-c--dark;
    border-radius: 2.5rem;
    transition: transform 0.5s $transition-t;
    transform-origin: center center;

    svg {
      display: block;
      transition: transform 0.5s $transition-t;
      transform-origin: center center;
      fill: transparent;
      stroke: currentColor;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: ms(0);
    font-weight: 500;
    line-height: 1.3em;
  }

  &__salary {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: '';
    background-color: $text-c;
  }
}
