.advantages {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 1rem;
      grid-template: 'media content' / 6fr 6fr;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 1rem;
      grid-template: 'media . content' / 5fr 1fr 6fr;
    }
  }

  &__content {
    position: relative;

    @media (min-width: $screen-md) {
      grid-area: content;
      align-self: center;
      padding: 2.25rem 0;
    }

    @media (min-width: $screen-xl) {
      padding: 4.5rem 0 6rem;
    }
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 0.75rem;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 3rem;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 4.5rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    position: relative;

    &::after {
      position: absolute;
      top: calc(100% + 0.75rem);
      left: 0;
      width: 2.25rem;
      height: 1px;
      content: '';
      background-color: $primary-c;

      @media (min-width: $screen-sm) {
        top: calc(100% + 1.5rem);
      }
    }

    &:not(:last-child) {
      margin-bottom: 2.25rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }
    }

    @media (min-width: $screen-sm) {
      padding-right: 1.5rem;
    }
  }

  &__advantage-term {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
  }

  &__advantage-desc {
    max-width: 70ch;
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__media {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
    overflow: hidden;
    background-color: $bg-c--shade;
    border-radius: $border-r;

    &::before {
      display: block;
      width: 100%;
      padding-bottom: 375px;
      content: '';
    }

    @media (min-width: $screen-md) {
      grid-area: media;
      align-self: center;
      margin-bottom: 0;

      &::before {
        padding-bottom: 100%;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2);
      transform-origin: center;
    }
  }

  &__shape {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200px;
    height: 200px;
    background-image:
      radial-gradient(circle at center, hsla(0%, 0, 100, 0) 0, hsla(0%, 0, 100, 1) 100%),
      radial-gradient($accent-c 1px, $bg-c 1px);
    background-size: 100%, 15px 15px;
    border-radius: 100px;
    transform: translate3d(-25%, -25%, 0);

    @media (min-width: $screen-sm) {
      transform: translate3d(-75%, -25%, 0);
    }
  }
}
