.about-us {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    @include container;

    @media (min-width: $screen-md) {
      display: grid;
      gap: 1rem;
      grid-template: 'content media' / 6fr 6fr;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 1rem;
      grid-template: 'content . media' / 6fr 1fr 5fr;
    }
  }

  &__content {

    @media (min-width: $screen-md) {
      grid-area: content;
      padding: 2.25rem 0;
    }

    @media (min-width: $screen-xl) {
      padding: 4.5rem 0;
    }
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 0.75rem;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;
  }

  &__text {
    max-width: 70ch;
    margin-bottom: 1.5rem;
    font-size: ms(-1);
    line-height: 1.6em;
  }

  &__media {
    display: none;

    @media (min-width: $screen-md) {
      display: grid;
      grid-area: media;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__media-item {
    position: relative;
    z-index: 1;
    height: 90%;
    overflow: hidden;
    border-radius: $border-r;

    &--left {
      align-self: end;
    }

    &--right {
      align-self: start;
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      transform: scale(1.2);
      transform-origin: center;
      object-fit: cover;
    }
  }
}
